{% from "../templates/nav-bar.njk" import logoContainer %}

{% macro info() %}
  <section class="info">
    {{ logoContainer('About Roran') }}
    <p class="info__subtitle">Creative Studio</p>
    <hr>
    <p class="info__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      vulputate, vehicula nisi vitae, lobortis ante. Praesent sodales iaculis ultricies
    </p>
  </section>
{% endmacro %}

{% macro bun(imgPath, title, description) %}
  <article class="bun">
    <img src="{{imgPath}}" alt="">
    <p class="bun__title">{{title | safe}}</p>
    <p class="bun__description">{{description}}</p>
  </article>
{% endmacro %}

{% macro numberBox(imgPath, number, text) %}
  <div class="number">
    <div class="number__img">
      <img src="{{imgPath}}" alt="">
    </div>
    <div class="number__content">
      <p class="number__number">{{number}}</p>
      <p class="number__text">{{text}}</p>
    </div>
  </div>
{% endmacro %}