{% from "../templates/reusable.njk" import logoContainer %}

{% macro info() %}
  <section class="info">
    {{ logoContainer('About Roran') }}
    <p class="info__subtitle">Creative Studio</p>
    <hr>
    <p class="info__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      vulputate, vehicula nisi vitae, lobortis ante. Praesent sodales iaculis ultricies
    </p>
  </section>
{% endmacro %}

{% macro bun(imgPath, title, description) %}
  <article class="bun">
    <img src="{{imgPath}}" alt="">
    <p class="bun__title">{{title | safe}}</p>
    <p class="bun__description">{{description}}</p>
  </article>
{% endmacro %}

{% macro about() %}
  <div class="wrapper">
    {{ info() }}
    <section class="buns">
      {{ bun('./dist/img/paints.png', 'Some fancy <span>colors</span>',
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Integer at purus vulputate, vehicula nisi vitae, lobortis ante.') }}
      {{ bun('./dist/img/coffe.png', 'Enough <span>coffee breaks</span>',
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Integer at purus vulputate, vehicula nisi vitae, lobortis ante.') }}
      {{ bun('./dist/img/wand.png', 'A little bit of <span>magic</span>',
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Integer at purus vulputate, vehicula nisi vitae, lobortis ante.') }}
    </section>
  </div>
{% endmacro %}