{% from "../templates/reusable.njk" import infoContainer %}
{% set images = ['./dist/img/mashable.png', './dist/img/jquery.png', './dist/img/lunartemplates.png', './dist/img/vhdesign.png'] %}

{% macro clientsContainer() %}
  <div class="clients__img">
    {% for img in images %}
      <img src="{{img}}" alt="">
    {% endfor %}
  </div>
{% endmacro %}

{% macro clients() %}
  <div class="wrapper">
    {{ infoContainer('Some of our clients', 'We <i class="far fa-heart"></i> every single one') }}
    {{ clientsContainer() }}
  </div>
{% endmacro %}