{% from "../templates/reusable.njk" import links %}
{% from "../templates/nav-bar.njk" import linkClasses %}

{% macro footer() %}
  <div class="wrapper">
    <p>© 2014 Roran. All rights reserved</p>
    <i class="fas fa-angle-up"></i>
    {{ links(linkClasses) }}
  </div>
{% endmacro %}