{% from "../templates/reusable.njk" import logoContainer %}
{% from "../templates/reusable.njk" import links %}
{% set socials = [{
  fontClass: 'fab fa-linkedin-in',
  linkClass: 'linkedin'
},
{
  fontClass: 'fab fa-pinterest-p',
  linkClass: 'pinterest'
},
{
  fontClass: 'fab fa-twitter',
  linkClass: 'twitter'
},
{
  fontClass: 'fab fa-facebook-f',
  linkClass: 'facebook'
}
]%}

{% macro navigationBar(navItems, only=false) %}
  {% if only %}
    <ul class="nav-bar__items">
      {% for item in navItems %}
        <li class="nav-bar__item"><a data-tab="#{{item | lower | replace(' ', '-')}}">{{item}}</a></li>
      {% endfor %}
    </ul>
  {% else %} 
    {{ logoContainer('Roran') }}
    <ul class="nav-bar__items">
      {% for item in navItems %}
        <li class="nav-bar__item"><a href="#{{item | lower}}">{{item}}</a></li>
      {% endfor %}
    </ul>
    {{ links(socials) }}
  {% endif %}
{% endmacro %}