{% macro infoContainer(title, subtitle, hrBottom=true) %}
  <div class="info-container">
    {% if hrBottom %}
      <h3 class="info-container__title">{{title | safe}}</h3>
      <h4 class="info-container__subtitle">{{subtitle | safe}}</h4>
      <hr>
    {% else %}
      <h3 class="info-container__title">{{title | safe}}</h3>
      <hr>
      <h4 class="info-container__subtitle">{{subtitle | safe}}</h4>
    {% endif %}
  </div>
{% endmacro %}

{% macro logoContainer(text) %}
  <div class="logo">
    <p>{{text}}</p><span>.</span>
  </div>
{% endmacro %}

{% macro field(label, name, value='', type='text') %}
  <div>
    <label>{{label}}</label>
    <p>required</p>
  </div>
  <input type="{{type}}" name="{{name}}" value="{{value}}">
{% endmacro %}

{% macro links(iconClasses) %}
  <div class="links">
    {% for class in iconClasses %}
      <a href="#"><i class="{{class}}"></i></a>
    {% endfor %}
  </div>
{% endmacro %}