{% set images = ['../img/laptop.png', '../img/cup.png', '../img/phone.png', '../img/monitor.png', '../img/monitors.png', '../img/notepud.png'] %}

{% macro services(title, text) %}
  <div class="service-container">
    {% for img in images %}
      <div class="service">
        <div class="service__img-container">
          <img src="{{img}}" alt="">
        </div>
        <div class="service__content">
          <p class="title">{{title | safe}}</p>
          <hr>
          <p class="content">{{text}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}