{% from "../templates/reusable.njk" import infoContainer %}
{% set images = ['./dist/img/laptop.png', './dist/img/cup.png', './dist/img/phone.png', './dist/img/monitor.png', './dist/img/monitors.png', './dist/img/notepud.png'] %}

{% macro service(title, text) %}
  <div class="services__container">
    {% for img in images %}
      <article class="service">
        <div class="service__img">
          <img src="{{img}}" alt="">
        </div>
        <div class="service__content">
          <p class="service__title">{{title | safe}}</p>
          <hr>
          <p class="service__text">{{text}}</p>
        </div>
      </article>
    {% endfor %}
  </div>
{% endmacro %}

{% macro services(args) %}
  <div class="wrapper">
    {{ infoContainer('Our Services', 'With Passion & Experience') }}
    {{ service('Dictum tincidunt <span>diam</span>', 'Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Integer at purus vulputate, vehicula nisi vitae, lobortis ante.') }}
  </div>
{% endmacro %}