{% from "./nav-bar.njk" import socials %}

{% macro person(name, position) %}
  <li class="person">
    <div class="person__photo"></div>
    <div class="person__info">
      <div class="persone__description">
        <p class="person__name">{{name}}</p>
        <p class="person__position">{{position}}</p>
      </div>
      <div class="links">
        <a class="{{socials[2].linkClass}}" href=""><i class="{{socials[2].fontClass}}"></i></a>
        <a class="{{socials[3].linkClass}}" href=""><i class="{{socials[3].fontClass}}"></i></a>
      </div>
    </div>
  </li>
{% endmacro %}

{% macro slider() %}
  <section class="team__slider">
    <i class="fas fa-angle-left"></i>
    <div class="persons">
      <ul class="persons__list">
        {{ person('Jonathan Doe', 'Creative Director') }}
        {{ person('Jaden Doe', 'Mastermind') }}
        {{ person('Mister Doe', 'Designer') }}
        {{ person('Mister Doe', 'Designer') }}
        {{ person('Mister Doe', 'Designer') }}
        {{ person('Mister Doe', 'Designer') }}
      </ul>
    </div>
    <i class="fas fa-angle-right"></i>
    <div class="dots"></div>
  </section>
{% endmacro %}