<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <link rel="shortcut icon" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css" />
    <script src="https://kit.fontawesome.com/0ec32966fa.js" crossorigin="anonymous" defer></script>
    <script src="slider.js" defer></script>
  </head>
  <body>
  {% from "../templates/header.njk" import description %}
  <main class="main">
    <section class="header">
      <div class="header__description">
        {{ description() }}
        <hr>
        <p>www.lunartemplates.com</p>
      </div>
      <div class="header__badge">
        <p>Free to download at lunartemplates.com</p>
      </div>
      <div class="arrow-container">
        {% for _ in range(0, 3) %}
          <i class="fas fa-angle-down"></i>
        {% endfor %}
      </div>
    </section>
  </main>
  </body>
</html>
