<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>OSI</title>
    <link rel="shortcut icon" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.min.css" />
    <script src="https://kit.fontawesome.com/0ec32966fa.js" crossorigin="anonymous" defer></script>
    <script src="js/slider.min.js" defer></script>
    <script src="js/block-content.min.js" defer></script>
  </head>
  <body>
  {% from "../templates/reusable.njk" import infoContainer %}
  {% from "../templates/header.njk" import header %}
  {% from "../templates/nav-bar.njk" import navigationBar %}
  {% from "../templates/about.njk" import about %}
  {% from "../templates/numbers.njk" import numbers %}
  {% from "../templates/clients.njk" import clients %}
  {% from "../templates/services.njk" import services %}
  {% from "../templates/team.njk" import slider %}
  {% from "../templates/portfolio.njk" import blocks %}
  {% from "../templates/contact.njk" import contact %}
  {% from "../templates/footer.njk" import footer %}
  <main class="main">
    <header class="header">
      {{ header() }}
    </header>
    <section class="nav-bar">
      <div class="wrapper">
        {% set navItems = ['Home', 'About', 'Services', 'Team', 'Portfolio', 'Contact'] %}
        {{ navigationBar(navItems) }}
      </div>
    </section>
    <section class="about">
      {{ about() }}
    </section>
    <section class="numbers">
      {{ numbers() }}
    </section>
    <section class="clients">
      {{ clients() }}
    </section>
    <section class="services">
      {{ services() }}
    </section>
    <section class="quotation">
      <div class="wrapper">
        {{ infoContainer('Lorem ipsum dolor sit amet, <span>consectetur adipiscing</span> elit.
        Integer at purus vulputate, vehicula nisi vitae,
        lobortis ante. Praesent sodales iaculis ultricies.
        Vestibulum et <span>tristique</span> nisl, sed volutpat ante.', 'Jonathan Doe', hrBottom=false) }}
      </div>
    </section>
    <section class="team">
      <div class="wrapper">
        {{ infoContainer('Meet...the team', 'They are really nice!') }}
      </div>
      {{ slider() }}
    </section>
    <section class="portfolio">
      <div class="wrapper">
        {% set navBarItems = ['Web', 'Digital Art', 'Illustrations', 'Branding', 'All'] %}
        {{ infoContainer('Portfolio', 'This is what we’ve been working on') }}
        {{ navigationBar(navBarItems, only=true) }}
      </div>
      {{ blocks() }}
    </section>
    <section class="contact">
      <div class="wrapper">
        {{ infoContainer('Contact', 'We would really love to hear from you!') }}
      </div>
      {{ contact() }}
    </section>
    <footer class="footer">
      {{ footer() }}
    </footer>
  </main>
  </body>
</html>
