@import "./mixins";
@import "./variables";

.about {
  margin-bottom: -60px;
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;

    .info__subtitle {
      @include text-descr(30px, 400, #979797);
      margin: 5px 0 20px;
    }

    hr {
      width: 110px;
      color: #c0c0c0;
      margin-bottom: 38px;
      height: 1px;
      opacity: 0.4;
    }

    .info__text {
      @include text-descr(17px, 400, #979797);
      line-height: 22px;
      text-align: center;
      width: 524px;
    }
  }

  .buns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 147px;

    .bun {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;

      .bun__title {
        @include text-descr(18px, 400, #303030);
        margin-bottom: 29px;

        span {
          color: #39a38f;
        }
      }

      .bun__description {
        @include text-descr(13px, 400, #707070);
        line-height: 18px;
        text-align: center;
      }

      img {
        margin-bottom: 35px;
      }
    }
  }
}
