@import "./variables";
@import "./navigation-bar.scss";

.clients {
  padding-top: 74px;
  background-color: $main-color;

  .info-container {
    hr {
      width: 128px;
      height: 1px;
      color: #fff;
    }

    .info-container__title {
      @include text-descr(27px, 800, #fff);
      margin-bottom: 5px;
    }

    .info-container__subtitle {
      @include text-descr(23px, 200, #fff);
      margin-bottom: 18px;

      i {
        height: 17px;
        font-weight: lighter;
      }
    }
  }

  .clients__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 37px 32px 81px 32px;

    img {
      margin-right: 32px;
    }
  }
}
