@import "./variables";
@import "./mixins";

.clients {
  padding-top: 74px;
  background-color: $main-color;
  @include media-max-width(767) {
    padding-top: 54px;
  }

  .info-container {
    hr {
      width: 134px !important;
      height: 1px;
      opacity: 1 !important;
      color: #fff;
    }

    .info-container__title {
      @include text-descr(27px, 800, #fff);
      margin-bottom: 5px;
    }

    .info-container__subtitle {
      @include text-descr(23px, 200, #fff);
      margin-bottom: 18px;

      i {
        height: 17px;
        font-weight: 200;
      }
    }
  }

  .clients__img {
    display: flex;
    align-items: center;
    // justify-content: center;
    margin: 31px 32px 79px 32px;
    @include media-max-width(767) {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 37px;
    }
    @include media-max-width(1279) {
      flex-wrap: wrap;
      justify-content: center;
    }

    img {
      margin-right: 32px;
      @include media-max-width(1279) {
        margin: 0 32px 20px;
      }
      @include media-max-width(767) {
        margin: 0 32px 14px;
      }
    }
  }
}
