@import "./variables";
@import "./mixins";

.footer {
  background-color: #d8d8d8;
  padding: 14px 80px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-max-width(767) {
      flex-direction: column;
    }
  }

  .links {
    a {
      color: #878787 !important;

      &:hover {
        color: #a4a4a4 !important;
      }
    }
    @include media-max-width(767) {
      margin-right: 0 !important;
      position: relative;
    }
  }

  .fa-angle-up {
    color: #878787;
    font-size: 34px;

    &:hover {
      cursor: pointer;
      color: #a4a4a4;
    }
    @include media-max-width(767) {
      position: absolute;
      right: 20px;
    }
  }

  p {
    @include text-descr(15px, 400, #737373);
    line-height: 22px;
    @include media-max-width(767) {
      text-align: center;
      margin-bottom: 3px;
    }
  }
}
