@import "./variables";

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin font($size, $weight) {
  font: {
    size: $size;
    weight: $weight;
  }
  @content;
}

$white: #fff;

.header {
  position: relative;
  height: 590px;
  background-color: $main-color;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  p,
  h1,
  h2,
  h3 {
    line-height: 1;
    color: $white;
    text-shadow: 2px 4px 0px rgba(10, 12, 12, 0.1);
  }

  .header__info {
    @include flex-column();
    margin: 64px 0 0 124px;

    hr {
      margin: 26px 0;
      width: 244px;
      height: 1px;
      background-color: white;
    }

    .header__title {
      @include font(100px, 800);
    }

    .header__subtitle {
      @include font(54px, 400);
    }

    .header__author {
      @include font(34px, 400);
    }

    p {
      @include font(18px, 400) {
        font-style: italic;
      }
    }
  }

  .header__badge {
    position: absolute;
    top: 81px;
    right: 0;
    padding: 24px 123px 20px 105px;
    width: 472px;
    height: 85px;
    opacity: 0.2;
    background-color: #000000;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);

    p {
      @include font(18px, 700) {
        line-height: 22px;
      }
    }
  }

  .arrows-container {
    position: absolute;
    @include flex-column();
    bottom: 60px;
    left: 49%;
  }

  i {
    font-size: 50px;
    height: 21px;
    line-height: 1;
    color: $white;

    &:nth-child(1) {
      opacity: 0.3;
    }

    &:nth-child(2) {
      opacity: 0.6;
    }
  }
}
