@import "./mixins";
@import "./variables";

.main {
  display: flex;
  flex-direction: column;

  .logo {
    display: flex;

    p {
      @include text-descr(48px, 800, #303030);
    }

    span {
      @include text-descr(48px, 800, $main-color);
      margin-left: 8px;
    }
  }

  .wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .info-container__title,
    .info-container__subtitle {
      line-height: 1.2;
    }

    hr {
      width: 116px;
      height: 1px;
      opacity: 0.6;
      margin-bottom: 18px;
      color: #fff;
    }
  }

  .links {
    margin-right: 59px;
    a {
      font-size: 14px;
      height: 17px;
      color: #c0c0c0;

      &:nth-child(2n) {
        margin: 0 15px;
      }

      &:hover,
      &:active {
        color: #303030;
        cursor: pointer;
      }
    }
  }

  .nav-bar__items {
    display: flex;
    list-style: none;

    .nav-bar__item {
      a {
        @include text-descr(14px, 200, #a4a4a4);
        text-decoration: none;

        &:hover,
        &:active {
          color: #303030;
          cursor: pointer;
        }
      }

      &:nth-child(2n) {
        margin: 0 30px;
      }
    }
  }
}
