@import "./variables";

@mixin text-descr($size, $weight, $color) {
  font: {
    size: $size;
    weight: $weight;
  }
  line-height: 1.2;
  color: $color;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 50px;

  .nav-bar__logo {
    display: flex;

    p {
      @include text-descr(30px, 800, #303030);
    }

    span {
      @include text-descr(30px, 800, $main-color);
      margin-left: 3px;
    }
  }

  .nav-bar__items {
    display: flex;
    list-style: none;

    .nav-bar__item {
      a {
        @include text-descr(14px, 200, #c0c0c0);
        text-decoration: none;

        &:hover,
        &:active {
          color: #303030;
          cursor: pointer;
        }
      }

      &:nth-child(2n) {
        margin: 0 30px;
      }
    }
  }

  .nav-bar__links {
    a {
      font-size: 14px;
      height: 17px;
      color: #c0c0c0;

      &:nth-child(2n) {
        margin: 0 15px;
      }

      &:hover,
      &:active {
        color: #303030;
        cursor: pointer;
      }
    }
  }
}
