@import "./variables";
@import "./mixins";

.nav-bar {
  padding: 14px 0;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 54px;

  .nav-bar__items {
    li:first-child {
      a {
        color: #303030;
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    display: flex;
    margin-left: 58px;

    p {
      @include text-descr(30px, 800, #303030);
    }

    span {
      @include text-descr(30px, 800, $main-color);
      margin-left: 3px;
    }
  }
}
