@import "./variables";

@mixin text-descr($size, $weight, $color) {
  font: {
    size: $size;
    weight: $weight;
  }
  line-height: 1.2;
  color: $color;
}

.nav-bar {
  padding: 16px 0;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 50px;

  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    display: flex;
    margin-left: 49px;

    p {
      @include text-descr(30px, 800, #303030);
    }

    span {
      @include text-descr(30px, 800, $main-color);
      margin-left: 3px;
    }
  }

  .nav-bar__links {
    margin-right: 59px;
    a {
      font-size: 14px;
      height: 17px;
      color: #c0c0c0;

      &:nth-child(2n) {
        margin: 0 15px;
      }

      &:hover,
      &:active {
        color: #303030;
        cursor: pointer;
      }
    }
  }
}
