@import "./mixins";
@import "./variables";

.numbers {
  padding: 54.5px;
  background-color: #f0f0f0;

  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .number {
    display: flex;

    .number__img {
      display: flex;
      align-items: center;
      margin-right: 16px;
    }

    .number__content {
      .number__number {
        @include text-descr(50px, 800, $main-color);
      }

      .number__text {
        @include text-descr(18px, 400, #7a7a7a);
      }
    }
  }
}
