@import "./variables";
@import "./navigation-bar.scss";

.quotation {
  position: relative;
  background-color: $main-color;
  padding: 64px 138px;

  &::before,
  &::after {
    position: absolute;
    @include text-descr(179px, 400, #fff);
    line-height: 28px;
    opacity: 0.2;
    transform: rotateZ(190deg);
    content: '"';
  }

  &::before {
    top: 7%;
    left: 18%;
  }

  &::after {
    bottom: 52%;
    right: 26%;
  }

  .info-container {
    text-align: center;

    .info-container__title {
      @include text-descr(21px, 400, #fff);
      width: 857px;
      margin-bottom: 23px;
      padding: 0 38px;
      line-height: 28px;

      span {
        font-weight: 700;
      }
    }

    .info-container__subtitle {
      @include text-descr(18px, 400, #fff);
      line-height: 28px;
    }

    hr {
      width: 116px;
      height: 1px;
      margin-bottom: 18px;
      color: #fff;
    }
  }
}
