@import "./variables";
@import "./mixins";

.quotation {
  position: relative;
  background-color: $main-color;
  padding: 71px 138px;
  @include media-max-width(767) {
    padding: 42px 0;
  }

  &::before,
  &::after {
    position: absolute;
    @include text-descr(179px, 400, #fff);
    line-height: 25px;
    opacity: 0.2;
    transform: rotateZ(190deg);
    content: '"';
    @include media-max-width(767) {
      font-size: 135px;
    }
  }

  &::before {
    top: 0%;
    left: 16%;
    @include media-max-width(1279) {
      top: 0;
      left: 1%;
    }
    @include media-max-width(767) {
      top: 10px;
      left: 20%;
    }
  }

  &::after {
    bottom: 40%;
    right: 25%;
    @include media-max-width(1279) {
      bottom: 43%;
      right: 12%;
    }
    @include media-max-width(767) {
      bottom: 28%;
      right: 25%;
    }
  }

  .info-container {
    text-align: center;

    .info-container__title {
      @include text-descr(21px, 400, #fff);
      width: 857px;
      margin-bottom: 25px;
      padding: 0 38px;
      line-height: 28px;
      @include media-max-width(767) {
        width: 280px;
        padding: 23px 0;
      }

      span {
        font-weight: 700;
      }
    }

    .info-container__subtitle {
      @include text-descr(18px, 400, #fff);
      line-height: 28px;
      margin-top: 4px;
    }

    hr {
      width: 116px;
      height: 1px;
      margin: 0;
      opacity: 1;
      color: #fff;
      @include media-max-width(767) {
        margin-top: 5px;
      }
    }
  }
}
