@import "./mixins";
@import "./variables";

.services {
  padding-top: 49px;
  @include media-max-width(767) {
    padding-top: 38px;
  }

  .info-container {
    .info-container__title {
      @include text-descr(27px, 800, #303030);
      margin-bottom: 5px;
    }

    .info-container__subtitle {
      @include text-descr(21px, 400, #979797);
    }

    hr {
      width: 118px;
      height: 1px;
      margin-top: 25px;
      opacity: 0.3;
      color: #fff;
      @include media-max-width(767) {
        margin: 18px 0 22px 0;
      }
    }
  }

  .services__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 35px 124px 9px 134px;
    @include media-max-width(767) {
      align-items: center;
      margin: 0;
    }
    @include media-max-width(1279) {
      margin: 0;
      justify-content: center;
    }

    .service {
      display: flex;
      width: 300px;
      margin-bottom: 54px;
      text-align: left;
      @include media-max-width(767) {
        margin-bottom: 32px;
      }

      .service__img {
        margin: 6px 24px 0 0;
      }

      .service__content {
        .service__title {
          @include text-descr(18px, 400, #303030);
          margin-bottom: 11px;

          span {
            color: $main-color;
          }
        }

        .service__text {
          @include text-descr(13px, 400, #707070);
          line-height: 18px;
        }

        hr {
          width: 82px;
          height: 1px;
          opacity: 0.3;
          margin-bottom: 24px;
        }
      }
    }
  }
}
